<li role="presentation" class="news-timeline-founding" data-timeline-founding="2024-01">
  <span role="img" aria-label="MINDxAI Lab was founded in January 2024">
    <span class="news-timeline-founding-mascot" aria-hidden="true">
      <img class="news-timeline-founding-body" src="{{ '/assets/images/icons/lab-founding-chibi.png' | relative_url }}" width="48" height="48" alt="">
      <img class="news-timeline-founding-part news-timeline-founding-hand" src="{{ '/assets/images/icons/lab-founding-chibi.png' | relative_url }}" width="48" height="48" alt="">
      <img class="news-timeline-founding-part news-timeline-founding-hair" src="{{ '/assets/images/icons/lab-founding-chibi.png' | relative_url }}" width="48" height="48" alt="">
      <img class="news-timeline-founding-part news-timeline-founding-coat-left" src="{{ '/assets/images/icons/lab-founding-chibi.png' | relative_url }}" width="48" height="48" alt="">
      <img class="news-timeline-founding-part news-timeline-founding-coat-right" src="{{ '/assets/images/icons/lab-founding-chibi.png' | relative_url }}" width="48" height="48" alt="">
      <img class="news-timeline-founding-eyelids" src="{{ '/assets/images/icons/lab-founding-eyelids.svg' | relative_url }}" width="48" height="48" alt="">
    </span>
    <span class="news-timeline-founding-caption" aria-hidden="true">Lab founded</span>
  </span>
</li>
