{%- assign publication_topics = site.data.publication_topics[include.publication].topics -%}
{%- capture domain_tags -%}
  {%- for topic_entry in site.data.research_topics -%}
    {%- if topic_entry[1].kind == 'domain' and publication_topics contains topic_entry[0] -%}
  <a class="publication-tag" href="#{{ topic_entry[0] }}" data-publication-topic-link="{{ topic_entry[0] }}" aria-label="View publications in application domain: {{ topic_entry[1].label | escape }}">{{ topic_entry[1].label | escape }}</a>
    {%- endif -%}
  {%- endfor -%}
{%- endcapture -%}
{%- if domain_tags != '' -%}
<div class="publication-tags" aria-label="Application domains">{{ domain_tags }}</div>
{%- endif -%}
